/* body{
    background-color: #fff;
    font-size: 16px;
    color: #696969;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Smooch Sans', sans-serif;
} */


.paragraph{
    margin: 10px;
}

.card{
    margin-bottom: 20px;
}